{% load static %} 

<!DOCTYPE html>

<style>
.hover-change {
    transition: all 0.3s ease;
    transform-origin: center;
    will-change: transform;
}

.hover-change:hover {
    content: url("{% static 'deps/images/star_yellow.png' %}");
}

.Change {
    content: url("{% static 'deps/images/star_yellow.png' %}");
}

</style>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static "deps/css/bootstrap/bootstrap.min.css" %}"> 
        <link rel="stylesheet" href="{% static "deps/css/my_css.css" %}"> 
        <link rel="apple-touch-icon" sizes="180x180" href="{% static "deps/favicon/Browse-icon_512x512.png" %}"> 
        <link rel="icon" type="image/png" sizes="32x32" href="{% static "deps/favicon/Browse-icon_32x32.png" %}"> 
        <link rel="icon" type="image/png" sizes="16x16" href="{% static "deps/favicon/Browse-icon_16x16.png" %}"> 
        <link rel="manifest" href="{% static "deps/favicon/site.webmanifest" %}">


        <title>Home</title>
    </head>
    
    <body class="d-flex flex-column min-vh-100">
        <header>
            <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'main:index' %}">Карта твоих туалетов</a>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="d-flex flex-row-reverse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a
                                    class="nav-link dropdown-toggle text-white"
                                    href="#"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                >
                                    Информация
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item text-white" href="#">Доставка и оплата</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item text-white" href="#">Контактная информация</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item text-white" href="#">Про нас</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="carts/cart.html">Корзина</a>
                            </li>
                            {% if not user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="{% url "users:login" %}">Войти</a>
                                </li>
                            {% else %}
                                <li class="nav-item dropdown">
                                    <a
                                        class="nav-link dropdown-toggle text-white"
                                        href="#"
                                        role="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false"
                                    >
                                        Мой профиль
                                        <img
                                            class="mx-1 rounded-circle"
                                            src="{% static 'deps/images/baseavatar.jpg' %}"
                                            alt="Catalog Icon"
                                            width="30"
                                            height="30"
                                            style="object-fit: cover"
                                        />
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item text-white" href="carts/cart.html">Корзина</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item text-white" href="{% url "users:profile" %}">Личный кабинет</a>
                                        </li>
                                        {% if user.is_admin or user.is_staff %}
                                            <li>
                                                <a class="dropdown-item text-white" href="{% url 'admin:index' %}">Админ панель</a>
                                            </li>
                                        {% endif %}
                                        
                                        <li>
                                            <hr class="dropdown-divider" />
                                        </li>
                                        <li>
                                            <a class="dropdown-item text-white" href="{% url "users:logout" %}">Выйти</a>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}
                            
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="position-relative d-flex flex-grow-1">
            <div id="map" class="flex-fill"></div>
            <!-- Контент поверх карты с абсолютным позиционированием -->
            <div class="position-absolute top-0 start-0 w-100 h-100" style="z-index: 1000; pointer-events: none;">
                <div style="pointer-events: auto;">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>

        </div>

        

        {% comment %} creating point sidebar {% endcomment %}
        <div class="offcanvas offcanvas-start offcanvas-map" tabindex="-1" id="creatingMapSidebar">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title">Создать точку</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body">
                <div class="mb-3">
                    <strong>Координаты:</strong>
                    <div class="mt-1">
                        <span class="badge bg-secondary" id="coordLat"></span>
                        <span class="badge bg-secondary" id="coordLng"></span>
                    </div>
                </div>

                <form id="pointForm">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Название точки</label>
                        <input type="text" class="form-control" id="pointName" required />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Описание</label>
                        <textarea class="form-control" id="pointDescription" rows="3"></textarea>
                    </div>
                </form>
                <button id="SaveButton" class="btn btn-primary w-100">Сохранить</button>
            </div>
        </div>

        {% comment %} created point sidebar {% endcomment %}
        <div class="offcanvas offcanvas-start offcanvas-map" tabindex="-1" id="mapSidebar">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title fs-3 flex-grow-1 text-center" id="pointName2"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body d-flex flex-column" >
                <form id="pointForm2" class="flex-grow-1 flex-column d-flex" style="min-width: 45%; min-height: 45%;">
                    <div class="d-flex flex-grow-1">

                    </div>    
                    <div class="flex-row d-flex">
                        <div style="display: none;">
                            {% csrf_token %}
                        </div>
                        <p id="rating" class="fs-1"></p>
                        <div id="imageStar1" class="image-wrapper" style="width: 10%; height: 10%;">
                            <img src="{% static 'deps/images/star_white.png' %}" class="img-fluid hover-change" >
                        </div>
                        
                        <div id="imageStar2" class="image-wrapper" style="width: 10%; height: 10%;">
                            <img src="{% static 'deps/images/star_white.png' %}" class="img-fluid hover-change" >
                        </div>

                        <div id="imageStar3" class="image-wrapper" style="width: 10%; height: 10%;">
                            <img src="{% static 'deps/images/star_white.png' %}" class="img-fluid hover-change" >
                        </div>

                        <div id="imageStar4" class="image-wrapper" style="width: 10%; height: 10%;">
                            <img src="{% static 'deps/images/star_white.png' %}" class="img-fluid hover-change" >
                        </div>

                        <div id="imageStar5" class="image-wrapper" style="width: 10%; height: 10%;">
                            <img src="{% static 'deps/images/star_white.png' %}" class="img-fluid hover-change" >
                        </div>
                    </div>
                    

                </form>
                
                    
                <div class="p-3 bg-dark text-white flex-grow-1 d-flex flex-column gap-2 overflow-auto text-break"  id="commentsConteiner">
                    {% comment %} comments ......... {% endcomment %}
                </div>

                <form class="d-flex">
                    <div style="display: none;">
                        {% csrf_token %}
                    </div>
                    <div class="d-flex p-3 input-group mb-3">
                        <input id="commentText" class="form-control" placeholder="Комментарий..."  aria-describedby="commentButton">
                        <button class="btn btn-outline-secondary" type="button" id="commentButton">Отправить</button>
                    </div>
                </form>
                

            </div>
        </div>

        <script
            src="https://api-maps.yandex.ru/2.1/?apikey=f62206d2-d8fa-4d07-9243-1c6ae523ba7a&lang=ru_RU"
            type="text/javascript"
        ></script>
        <script type="text/javascript">



            ymaps.ready(initMyMap);

            let myMap;
            function initMyMap() {
                myMap = new ymaps.Map('map', {
                    center: [55.76, 37.64],
                    zoom: 15,
                    controls: ['zoomControl'],
                });

                loadAllMarkers();
                clickToMap();
            }

            let toiletCoords = [];
            let myPlacemark;
            let creatingMapSidebar;
            let mapSidebar;
            let myCoords;
            let currentloc;

            document.addEventListener('DOMContentLoaded', function() {
                creatingMapSidebar = new bootstrap.Offcanvas(document.getElementById('creatingMapSidebar'));
                mapSidebar = new bootstrap.Offcanvas(document.getElementById('mapSidebar'));
            });

            function initialPlacemarkClick(placemark) {
                placemark.events.add('click', async function(e) {
                    
                    const target = e.get('target');
                    myCoords = target.geometry.getCoordinates();

                    document.getElementById('pointName2').textContent = target.properties.get('hintContent');
                    
                    mapSidebar.show();

                    let comments = await getComments(target.properties.get('hintContent'));

                    for (let i = 0; i < comments.length; ++i) {

                        showComment(comments[i].text);
                    }

                    initAutoScroll();

                    let review = await getReview(target.properties.get('hintContent'));

                    document.getElementById('rating').textContent = review;

                });
            }

            document.getElementById('commentButton').addEventListener('click', function () {
                if (commentText.value != "") {
                    fetch('api/addComment_api/', {
                        method: 'POST',
                        headers: {'Content-Type': 'application/json', 'X-CSRFToken': getCsrfToken()},
                        body: JSON.stringify({  text: commentText.value, toiletName: document.getElementById('pointName2').textContent  })
                    });
                
                showComment(commentText.value);
                
                document.getElementById('commentText').value = '';
                
                }
            });

            document.getElementById('commentText').addEventListener('keypress', function(e) {
                if (e.key === 'Enter') {
                    document.getElementById('commentButton').click();
                }
            });

            function showComment(Text) {
                let container = document.getElementById('commentsConteiner');
                let link = document.createElement('a');
                link.textContent = Text;
                container.appendChild(link);
            }

            function initAutoScroll() {
                const commentsContainer = document.getElementById('commentsConteiner');
      
                commentsContainer.scrollTop = commentsContainer.scrollHeight;

                const observer = new MutationObserver(function(mutations) {
                    commentsContainer.scrollTop = commentsContainer.scrollHeight;
                });

                observer.observe(commentsContainer, {
                    childList: true,
                    subtree: true
                });
            }

            async function getComments(currentToilet) {
                let params = new URLSearchParams({
                    'currentToilet': currentToilet,
                });

                let result0 = await fetch(`api/getcomments_api/?${params}`);
                let result1 = await result0.json();

                return result1;
            }

            async function getReview(currentToilet) {
                let params = new URLSearchParams({
                    'currentToilet': currentToilet,
                });

                let result0 = await fetch(`api/getReview_api/?${params}`);
                let result1 = await result0.json();

                return result1;
            }

            function loadAllMarkers() {
                {% for toilet in toilets %}
                    toiletCoords = [{{toilet.coords1|stringformat:'f' }} , {{toilet.coords2|stringformat:'f' }}];

                    myPlacemark = new ymaps.Placemark(toiletCoords , {hintContent: "{{ toilet.name }}"}, { preset: 'islands#redIcon', openHintOnHover: false });
                    initialPlacemarkClick(myPlacemark);
                    myMap.geoObjects.add(myPlacemark);

                {% endfor %}
            }

            function clickToMap() {
                myMap.events.add('click', function (e) {
                    currentloc = 0;
                    myCoords = e.get('coords');
                    
                    myPlacemark = new ymaps.Placemark([myCoords[0].toFixed(6), myCoords[1].toFixed(6)], {}, {preset: 'islands#redIcon', openHintOnHover: false});
                    initialPlacemarkClick(myPlacemark);
                    myMap.geoObjects.add(myPlacemark);
                    
                    document.getElementById('coordLat').textContent = myCoords[0].toFixed(6);
                    document.getElementById('coordLng').textContent = myCoords[1].toFixed(6);

                    creatingMapSidebar.show();
                });
            }
                                        
            document.getElementById('creatingMapSidebar').addEventListener('hide.bs.offcanvas', function () {
                if (currentloc == 0) {
                    myMap.geoObjects.remove(myPlacemark);
                    myPlacemark = null;
                }
                document.getElementById('pointName').value = '';
                document.getElementById('coordLat').textContent = '';
                document.getElementById('coordLng').textContent = '';
            });
            document.getElementById('mapSidebar').addEventListener('hide.bs.offcanvas', function () {

                document.getElementById('pointName2').textContent = '';
                let container = document.getElementById('commentsConteiner');
                container.innerHTML = '';
            });

            function getCsrfToken() {
                return document.querySelector('[name=csrfmiddlewaretoken]').value;
            }

            document.getElementById('SaveButton').addEventListener('click', function () {
                if (pointName.value != "") {
                    fetch('api/create-toilet/', {
                        method: 'POST',
                        headers: {'Content-Type': 'application/json', 'X-CSRFToken': getCsrfToken()},
                        body: JSON.stringify({name: pointName.value, coords1: myCoords[0].toFixed(6), coords2: myCoords[1].toFixed(6)})
                    });

                    myPlacemark.properties.set('hintContent', pointName.value);
                    currentloc = 1;
                }

                creatingMapSidebar.hide();
                document.getElementById('pointName').value = '';
                document.getElementById('coordLat').textContent = '';
                document.getElementById('coordLng').textContent = '';
            });

            function star1Change() {
                document.getElementById('imageStar1').classList.add('Change');
            };
            function star1Changed() {
                document.getElementById('imageStar1').classList.remove('Change');
            };
            function star2Change() {
                document.getElementById('imageStar2').classList.add('Change');
            };
            function star2Changed() {
                document.getElementById('imageStar2').classList.remove('Change');
            };
            function star3Change() {
                document.getElementById('imageStar3').classList.add('Change');
            };
            function star3Changed() {
                document.getElementById('imageStar3').classList.remove('Change');
            };
            function star4Change() {
                document.getElementById('imageStar4').classList.add('Change');
            };
            function star4Changed() {
                document.getElementById('imageStar4').classList.remove('Change');
            };

            function starChange222() {
                star1Change();
                star2Change();
            };
            function starChange333() {
                star1Change();
                star2Change();
                star3Change();
            };
            function starChange444() {
                star1Change();
                star2Change();
                star3Change();
                star4Change();
            };

            function starChanged222() {
                star1Changed();
                star2Changed();
            };
            function starChanged333() {
                star1Changed();
                star2Changed();
                star3Changed();
            };
            function starChanged444() {
                star1Changed();
                star2Changed();
                star3Changed();
                star4Changed();
            };
            

            document.getElementById('imageStar2').addEventListener('mouseover', star1Change);
            document.getElementById('imageStar2').addEventListener('mouseout', star1Changed);
            document.getElementById('imageStar3').addEventListener('mouseover', starChange222);
            document.getElementById('imageStar3').addEventListener('mouseout', starChanged222);
            document.getElementById('imageStar4').addEventListener('mouseover', starChange333);
            document.getElementById('imageStar4').addEventListener('mouseout', starChanged333);
            document.getElementById('imageStar5').addEventListener('mouseover', starChange444);
            document.getElementById('imageStar5').addEventListener('mouseout', starChanged444);
            
            document.getElementById('imageStar1').addEventListener('click', function () {
                fetch('api/addReview_api/', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json', 'X-CSRFToken': getCsrfToken()},
                    body: JSON.stringify({  myReview: 1, toiletName: document.getElementById('pointName2').textContent  })
                });
            });

            document.getElementById('imageStar2').addEventListener('click', function () {
                fetch('api/addReview_api/', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json', 'X-CSRFToken': getCsrfToken()},
                    body: JSON.stringify({  myReview: 2, toiletName: document.getElementById('pointName2').textContent  })
                });
            });

            document.getElementById('imageStar3').addEventListener('click', function () {
                fetch('api/addReview_api/', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json', 'X-CSRFToken': getCsrfToken()},
                    body: JSON.stringify({  myReview: 3, toiletName: document.getElementById('pointName2').textContent  })
                });
            });

            document.getElementById('imageStar4').addEventListener('click', function () {
                fetch('api/addReview_api/', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json', 'X-CSRFToken': getCsrfToken()},
                    body: JSON.stringify({  myReview: 4, toiletName: document.getElementById('pointName2').textContent  })
                });
            });

            document.getElementById('imageStar5').addEventListener('click', function () {
                fetch('api/addReview_api/', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json', 'X-CSRFToken': getCsrfToken()},
                    body: JSON.stringify({  myReview: 5, toiletName: document.getElementById('pointName2').textContent  })
                });
            });



        </script>

        <script src="{% static 'deps/js/jquery/jquery-3.7.0.min.js' %}"></script>
        <script src="{% static 'deps/js/jquery-events.js' %}"></script>
        <script src="{% static 'deps/js/jquery-ajax.js' %}"></script>
        <script src="{% static 'deps/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>
