{% load static %} 

<!DOCTYPE html>

<style>
.hover-change {
    transition: all 0.3s ease;
    transform-origin: center;
    will-change: transform;
}

.hover-change:hover {
    content: url("{% static 'deps/images/star_yellow.png' %}");
}

.Change {
    content: url("{% static 'deps/images/star_yellow.png' %}");
}


.glass-dark {
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(12px) saturate(180%);
    -webkit-backdrop-filter: blur(15px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.125);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

/* Стили для input с размытым фоном */
.glass-input {
    background: rgba(255, 255, 255, 0.1) !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 0px  !important;
    color: white !important;
    transition: all 0.3s ease;
}

.glass-input::placeholder {
    color: rgba(255, 255, 255, 0.6) !important;
}

/* Изменение цвета границы при фокусе */
.glass-input:focus {
    background: rgba(255, 255, 255, 0.15) !important;
    border-color: rgba(255, 255, 255, 0.6) !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.15) !important;
    color: white !important;
    outline: none;
}

.glass-a {
    color: rgba(255, 255, 255, 0.8) !important;
    text-decoration: none;
}


.glass-offcanvas {
    background: rgba(0, 0, 0, 0.3) !important;
    backdrop-filter: blur(13px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    border-right: 0px ;
    
}

.glass-input-offcanvas {
    background: rgba(255, 255, 255, 0) !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 0px  !important;
    color: white !important;
    transition: all 0.3s ease;
}

.glass-input-offcanvas::placeholder {
    color: rgba(255, 255, 255, 0.6) !important;
}

/* Изменение цвета границы при фокусе */
.glass-input-offcanvas:focus {
    background: rgba(255, 255, 255, 0.15) !important;
    border-color: rgba(255, 255, 255, 0.6) !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.15) !important;
    color: white !important;
    outline: none;
}



#commentsConteiner::-webkit-scrollbar {
    width: 10px;
}

#commentsConteiner::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    margin: 2px;
}

#commentsConteiner::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
}

#commentsConteiner::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
}

#commentsConteiner::-webkit-scrollbar-thumb:active {
    background: rgba(255, 255, 255, 0.4);
}



.carousel-image-center {
    object-fit: cover;
    object-position: center; /* ← Ключевое свойство */
}

</style>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static "deps/css/bootstrap/bootstrap.min.css" %}"> 
        <link rel="stylesheet" href="{% static "deps/css/my_css.css" %}"> 
        <link rel="apple-touch-icon" sizes="180x180" href="{% static "deps/favicon/Browse-icon_512x512.png" %}"> 
        <link rel="icon" type="image/png" sizes="32x32" href="{% static "deps/favicon/Browse-icon_32x32.png" %}"> 
        <link rel="icon" type="image/png" sizes="16x16" href="{% static "deps/favicon/Browse-icon_16x16.png" %}"> 
        <link rel="manifest" href="{% static "deps/favicon/site.webmanifest" %}">


        <title>Home</title>
    </head>
    
    <body class="d-flex flex-column min-vh-100">
        <header>
            <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'main:index' %}">Карта твоих туалетов</a>
                    <div class="d-flex flex-row-reverse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                            {% if not user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="{% url "users:login" %}">Войти</a>
                                </li>
                            {% else %}
                                <li class="nav-item dropdown">
                                    <a
                                        class="nav-link dropdown-toggle text-white"
                                        href="#"
                                        role="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false"
                                    >
                                        Мой профиль
                                        {% if user.image %}
                                    <img
                                        class="mx-1 rounded-circle"
                                        src="{{user.image.url}}"
                                        alt="Icon"
                                        width="30"
                                        height="30"
                                        style="object-fit: cover"
                                        />
                                    {% else %}
                                        <img
                                            class="mx-1 rounded-circle"
                                            src="{% static 'deps/images/baseavatar.jpg' %}"
                                            alt="Icon"
                                            width="30"
                                            height="30"
                                            style="object-fit: cover"
                                        />
                                    {% endif %}
                                        
                                    </a>
                                    <ul class="dropdown-menu">
                                        
                                        <li>
                                            <a class="dropdown-item text-white" href="{% url "users:profile" %}">Личный кабинет</a>
                                        </li>
                                        {% if user.is_admin or user.is_staff %}
                                            <li>
                                                <a class="dropdown-item text-white" href="{% url 'admin:index' %}">Админ панель</a>
                                            </li>
                                        {% endif %}
                                        
                                        <li>
                                            <hr class="dropdown-divider" />
                                        </li>
                                        <li>
                                            <a class="dropdown-item text-white" href="{% url "users:logout" %}">Выйти</a>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}
                            
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="position-relative d-flex flex-grow-1">
            <div id="map" class="flex-fill"></div>
            <!-- Контент поверх карты с абсолютным позиционированием -->
             <div class="position-absolute top-0 start-0 w-100 h-100" style="z-index: 1000; pointer-events: none;">
                <div style="pointer-events: auto;">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
            

        </div>

        

        {% comment %} creating point sidebar {% endcomment %}
        <div class="offcanvas offcanvas-start offcanvas-map glass-offcanvas" tabindex="-1" id="creatingMapSidebar">
            <div class="offcanvas-header ">
                <h3 class="offcanvas-title mx-5" style="color: white;">Создать точку</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body ">
                <div class="mb-3">
                    <strong class="glass-a">Координаты:</strong>
                    <div class="mt-1">
                        <span class="badge bg-secondary" id="coordLat"></span>
                        <span class="badge bg-secondary" id="coordLng"></span>
                    </div>
                </div>

                <form id="pointForm">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label glass-a">Название точки</label>
                        <input type="text" class="form-control glass-input-offcanvas" id="pointName" required />
                    </div>

                    <div class="mb-3">
                        <label class="form-label glass-a">Описание</label>
                        <textarea class="form-control glass-input-offcanvas" id="pointDescription" rows="6"></textarea>
                    </div>
                </form>
                <div class="text-center">
                    <button id="SaveButton" class="btn btn-dark btn-block " style="width: 85%" >Сохранить</button>
                </div>
            </div>
        </div>


        {% comment %} created point sidebar {% endcomment %}
        <div class="offcanvas offcanvas-start offcanvas-map glass-offcanvas" tabindex="-1" id="mapSidebar">
            
            <div class="offcanvas-body d-flex flex-column p-0" >
                
                <div id="photo_and_name" class="d-flex position-relative" style="width: 100%; height:35%;">
                    
                    <div id="name" class="d-flex m-3 position-absolute bg-black" style="z-index: 10;">
                        <h3 class="offcanvas-title mx-5" style="color: white;" id="pointName2"></h3>
                    </div>
                    <div id="carouselExampleControls" class="carousel slide d-flex w-100 h-100" data-bs-ride="carousel" style="z-index: 1;">
                        <div class="carousel-inner">
                            <div class="carousel-item active w-100 h-100">
                            <img src="{% if user.image %}{{user.image.url}}{% else %}{% static 'deps/images/baseavatar.jpg' %}{% endif %}" class="d-block w-100 h-100 carousel-image-center"  alt="Аватар пользователя">
                            </div>
                            <div class="carousel-item w-100 h-100">
                            <img src="{% static 'deps/images/baseavatar.jpg' %}" class="d-block w-100 h-100 carousel-image-center"  alt="Аватар пользователя">
                            </div>
                            <div class="carousel-item w-100 h-100">
                            <img src="{% static 'deps/images/baseavatar.jpg' %}" class="d-block w-100 h-100 carousel-image-center"  alt="Аватар пользователя">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    {% comment %} <div id="photo" class="d-flex" style="width: 100%; height: 100%;">
                        <input type="file" class="d-none" id="id_image" accept="image/*" name="image" />
                        <!-- Делаем изображение кликабельным через label -->
                        <label for="id_image" class="d-flex bg-black" style="width: 100%; height: 100%;">
                            {% if user.image %}
                                <img src="{{ user.image.url }}" 
                                    alt="Аватар пользователя" 
                                    class="w-100 h-100"
                                    style="cursor: pointer; object-fit: cover; object-position: center;">
                            {% else %}
                                <img src="{% static 'deps/images/baseavatar.jpg' %}" 
                                    alt="Аватар пользователя" 
                                    class="w-100 h-100"
                                    style="cursor: pointer; object-fit: cover; object-position: center;">
                            {% endif %}
                        </label>
                    </div> {% endcomment %}

                </div>
                
                
                <form id="pointForm2" class="flex-column d-flex p-3" style="width: 100%; height: 10%;">
                       
                    <div class="flex-row d-flex">
                        <div style="display: none;">
                            {% csrf_token %}
                        </div>
                        <p id="rating" class="fs-1"></p>
                        <div id="imageStar1" class="image-wrapper" style="width: 10%; height: 10%;">
                            <img src="{% static 'deps/images/star_white.png' %}" class="img-fluid hover-change" >
                        </div>
                        
                        <div id="imageStar2" class="image-wrapper" style="width: 10%; height: 10%;">
                            <img src="{% static 'deps/images/star_white.png' %}" class="img-fluid hover-change" >
                        </div>

                        <div id="imageStar3" class="image-wrapper" style="width: 10%; height: 10%;">
                            <img src="{% static 'deps/images/star_white.png' %}" class="img-fluid hover-change" >
                        </div>

                        <div id="imageStar4" class="image-wrapper" style="width: 10%; height: 10%;">
                            <img src="{% static 'deps/images/star_white.png' %}" class="img-fluid hover-change" >
                        </div>

                        <div id="imageStar5" class="image-wrapper" style="width: 10%; height: 10%;">
                            <img src="{% static 'deps/images/star_white.png' %}" class="img-fluid hover-change" >
                        </div>
                    </div>
                    

                </form>
                
                
                <div class="flex-grow-1 mx-2 p-2 text-white d-flex flex-column gap-2 overflow-auto text-break align-items-start"  id="commentsConteiner">
                    {% comment %} comments ......... {% endcomment %}
                </div>
                
                <form class="d-flex mt-auto p-3" >
                    <div style="display: none;">
                        {% csrf_token %}
                    </div>
                    <div class="d-flex p-3 input-group mb-3">
                        <input id="commentText" class="form-control glass-input-offcanvas" placeholder="Комментарий..."  aria-describedby="commentButton">
                        <button class="btn btn-outline-secondary" type="button" id="commentButton">Отправить</button>
                    </div>
                </form>
                

            </div>
        </div>

        <script
            src="https://api-maps.yandex.ru/2.1/?apikey=f62206d2-d8fa-4d07-9243-1c6ae523ba7a&lang=ru_RU"
            type="text/javascript"
        ></script>
        <script type="text/javascript">



            ymaps.ready(initMyMap);

            let myMap;
            function initMyMap() {
                myMap = new ymaps.Map('map', {
                    center: [55.76, 37.64],
                    zoom: 15,
                    controls: ['zoomControl'],
                });

                loadAllMarkers();
                clickToMap();
            }

            let toiletCoords = [];
            let myPlacemark;
            let creatingMapSidebar;
            let mapSidebar;
            let myCoords;
            let currentloc;

            document.addEventListener('DOMContentLoaded', function() {
                creatingMapSidebar = new bootstrap.Offcanvas(document.getElementById('creatingMapSidebar'));
                mapSidebar = new bootstrap.Offcanvas(document.getElementById('mapSidebar'));
            });

            function initialPlacemarkClick(placemark) {
                placemark.events.add('click', async function(e) {
                    
                    const target = e.get('target');
                    myCoords = target.geometry.getCoordinates();

                    document.getElementById('pointName2').textContent = target.properties.get('hintContent');
                    
                    mapSidebar.show();

                    let comments = await getComments(target.properties.get('hintContent'));

                    for (let i = 0; i < comments.length; ++i) {

                        showComment(comments[i].text);
                    }

                    initAutoScroll();

                    let review = await getReview(target.properties.get('hintContent'));

                    document.getElementById('rating').textContent = review;

                });
            }

            document.getElementById('commentButton').addEventListener('click', function () {
                if (commentText.value != "") {
                    fetch('api/addComment_api/', {
                        method: 'POST',
                        headers: {'Content-Type': 'application/json', 'X-CSRFToken': getCsrfToken()},
                        body: JSON.stringify({  text: commentText.value, toiletName: document.getElementById('pointName2').textContent  })
                    });
                
                showComment(commentText.value);
                
                document.getElementById('commentText').value = '';
                
                }
            });

            document.getElementById('commentText').addEventListener('keypress', function(e) {
                if (e.key === 'Enter') {
                    document.getElementById('commentButton').click();
                }
            });

            function showComment(Text) {
                let container = document.getElementById('commentsConteiner');
                let link = document.createElement('span');
                link.textContent = Text;

                Object.assign(link.style, {
                    display: 'inline-block',
                    background: 'rgba(39, 39, 39, 0.5)',
                    backdropFilter: 'blur(10px)',
                    WebkitBackdropFilter: 'blur(10px)',
                    color: 'white',
                    padding: '4px 10px',
                    borderRadius: '15px',
                    border: '0px ',
                    fontSize: '15px',
                    lineHeight: '1.7',
                    width: 'fit-content',
                    maxWidth: '100%',
                    wordBreak: 'break-word',
                    
                });
    
                
                container.appendChild(link);
            }

            function initAutoScroll() {
                const commentsContainer = document.getElementById('commentsConteiner');
      
                commentsContainer.scrollTop = commentsContainer.scrollHeight;

                const observer = new MutationObserver(function(mutations) {
                    commentsContainer.scrollTop = commentsContainer.scrollHeight;
                });

                observer.observe(commentsContainer, {
                    childList: true,
                    subtree: true
                });
            }

            async function getComments(currentToilet) {
                let params = new URLSearchParams({
                    'currentToilet': currentToilet,
                });

                let result0 = await fetch(`api/getcomments_api/?${params}`);
                let result1 = await result0.json();

                return result1;
            }

            async function getReview(currentToilet) {
                let params = new URLSearchParams({
                    'currentToilet': currentToilet,
                });

                let result0 = await fetch(`api/getReview_api/?${params}`);
                let result1 = await result0.json();

                return result1;
            }

            function loadAllMarkers() {
                {% for toilet in toilets %}
                    toiletCoords = [{{toilet.coords1|stringformat:'f' }} , {{toilet.coords2|stringformat:'f' }}];

                    myPlacemark = new ymaps.Placemark(toiletCoords , {hintContent: "{{ toilet.name }}"}, { preset: 'islands#redIcon', openHintOnHover: false });
                    initialPlacemarkClick(myPlacemark);
                    myMap.geoObjects.add(myPlacemark);

                {% endfor %}
            }

            function clickToMap() {
                myMap.events.add('click', function (e) {
                    currentloc = 0;
                    myCoords = e.get('coords');
                    
                    myPlacemark = new ymaps.Placemark([myCoords[0].toFixed(6), myCoords[1].toFixed(6)], {}, {preset: 'islands#redIcon', openHintOnHover: false});
                    initialPlacemarkClick(myPlacemark);
                    myMap.geoObjects.add(myPlacemark);
                    
                    document.getElementById('coordLat').textContent = myCoords[0].toFixed(6);
                    document.getElementById('coordLng').textContent = myCoords[1].toFixed(6);

                    creatingMapSidebar.show();
                });
            }
                                        
            document.getElementById('creatingMapSidebar').addEventListener('hide.bs.offcanvas', function () {
                if (currentloc == 0) {
                    myMap.geoObjects.remove(myPlacemark);
                    myPlacemark = null;
                }
                document.getElementById('pointName').value = '';
                document.getElementById('coordLat').textContent = '';
                document.getElementById('coordLng').textContent = '';
            });
            document.getElementById('mapSidebar').addEventListener('hide.bs.offcanvas', function () {

                document.getElementById('pointName2').textContent = '';
                let container = document.getElementById('commentsConteiner');
                container.innerHTML = '';
            });

            function getCsrfToken() {
                return document.querySelector('[name=csrfmiddlewaretoken]').value;
            }

            document.getElementById('SaveButton').addEventListener('click', function () {
                if (pointName.value != "") {
                    fetch('api/create-toilet/', {
                        method: 'POST',
                        headers: {'Content-Type': 'application/json', 'X-CSRFToken': getCsrfToken()},
                        body: JSON.stringify({name: pointName.value, coords1: myCoords[0].toFixed(6), coords2: myCoords[1].toFixed(6)})
                    });

                    myPlacemark.properties.set('hintContent', pointName.value);
                    currentloc = 1;
                }

                creatingMapSidebar.hide();
                document.getElementById('pointName').value = '';
                document.getElementById('coordLat').textContent = '';
                document.getElementById('coordLng').textContent = '';
            });

            function star1Change() {
                document.getElementById('imageStar1').classList.add('Change');
            };
            function star1Changed() {
                document.getElementById('imageStar1').classList.remove('Change');
            };
            function star2Change() {
                document.getElementById('imageStar2').classList.add('Change');
            };
            function star2Changed() {
                document.getElementById('imageStar2').classList.remove('Change');
            };
            function star3Change() {
                document.getElementById('imageStar3').classList.add('Change');
            };
            function star3Changed() {
                document.getElementById('imageStar3').classList.remove('Change');
            };
            function star4Change() {
                document.getElementById('imageStar4').classList.add('Change');
            };
            function star4Changed() {
                document.getElementById('imageStar4').classList.remove('Change');
            };

            function starChange222() {
                star1Change();
                star2Change();
            };
            function starChange333() {
                star1Change();
                star2Change();
                star3Change();
            };
            function starChange444() {
                star1Change();
                star2Change();
                star3Change();
                star4Change();
            };

            function starChanged222() {
                star1Changed();
                star2Changed();
            };
            function starChanged333() {
                star1Changed();
                star2Changed();
                star3Changed();
            };
            function starChanged444() {
                star1Changed();
                star2Changed();
                star3Changed();
                star4Changed();
            };
            

            document.getElementById('imageStar2').addEventListener('mouseover', star1Change);
            document.getElementById('imageStar2').addEventListener('mouseout', star1Changed);
            document.getElementById('imageStar3').addEventListener('mouseover', starChange222);
            document.getElementById('imageStar3').addEventListener('mouseout', starChanged222);
            document.getElementById('imageStar4').addEventListener('mouseover', starChange333);
            document.getElementById('imageStar4').addEventListener('mouseout', starChanged333);
            document.getElementById('imageStar5').addEventListener('mouseover', starChange444);
            document.getElementById('imageStar5').addEventListener('mouseout', starChanged444);
            
            document.getElementById('imageStar1').addEventListener('click', function () {
                fetch('api/addReview_api/', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json', 'X-CSRFToken': getCsrfToken()},
                    body: JSON.stringify({  myReview: 1, toiletName: document.getElementById('pointName2').textContent  })
                });
            });

            document.getElementById('imageStar2').addEventListener('click', function () {
                fetch('api/addReview_api/', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json', 'X-CSRFToken': getCsrfToken()},
                    body: JSON.stringify({  myReview: 2, toiletName: document.getElementById('pointName2').textContent  })
                });
            });

            document.getElementById('imageStar3').addEventListener('click', function () {
                fetch('api/addReview_api/', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json', 'X-CSRFToken': getCsrfToken()},
                    body: JSON.stringify({  myReview: 3, toiletName: document.getElementById('pointName2').textContent  })
                });
            });

            document.getElementById('imageStar4').addEventListener('click', function () {
                fetch('api/addReview_api/', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json', 'X-CSRFToken': getCsrfToken()},
                    body: JSON.stringify({  myReview: 4, toiletName: document.getElementById('pointName2').textContent  })
                });
            });

            document.getElementById('imageStar5').addEventListener('click', function () {
                fetch('api/addReview_api/', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json', 'X-CSRFToken': getCsrfToken()},
                    body: JSON.stringify({  myReview: 5, toiletName: document.getElementById('pointName2').textContent  })
                });
            });


            


        </script>

        <script src="{% static 'deps/js/jquery/jquery-3.7.0.min.js' %}"></script>
        <script src="{% static 'deps/js/jquery-events.js' %}"></script>
        <script src="{% static 'deps/js/jquery-ajax.js' %}"></script>
        <script src="{% static 'deps/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>
