{% load static %} 

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static "deps/css/bootstrap/bootstrap.min.css" %}"> 
        <link rel="stylesheet" href="{% static "deps/css/my_css.css" %}"> 
        <link rel="apple-touch-icon" sizes="180x180" href="{% static "deps/favicon/Browse-icon_512x512.png" %}"> 
        <link rel="icon" type="image/png" sizes="32x32" href="{% static "deps/favicon/Browse-icon_32x32.png" %}"> 
        <link rel="icon" type="image/png" sizes="16x16" href="{% static "deps/favicon/Browse-icon_16x16.png" %}"> 
        <link rel="manifest" href="{% static "deps/favicon/site.webmanifest" %}">


        <title>Home</title>
    </head>

    <body class="d-flex flex-column min-vh-100">
        <header>
            <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'main:index' %}">Карта твоих туалетов</a>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="d-flex flex-row-reverse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a
                                    class="nav-link dropdown-toggle text-white"
                                    href="#"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                >
                                    Информация
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item text-white" href="#">Доставка и оплата</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item text-white" href="#">Контактная информация</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item text-white" href="#">Про нас</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="carts/cart.html">Корзина</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="users/login.html">Войти</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a
                                    class="nav-link dropdown-toggle text-white"
                                    href="#"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                >
                                    Мой профиль
                                    <img
                                        class="mx-1 rounded-circle"
                                        src="{% static 'deps/images/baseavatar.jpg' %}"
                                        alt="Catalog Icon"
                                        width="30"
                                        height="30"
                                        style="object-fit: cover"
                                    />
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item text-white" href="carts/cart.html">Корзина</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item text-white" href="users/profile.html">Личный кабинет</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item text-white" href="{% url 'admin:index' %}">Админ панель</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider" />
                                    </li>
                                    <li>
                                        <a class="dropdown-item text-white" href="#">Выйти</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div id="map" class="flex-fill"></div>


        {% comment %} creating point sidebar {% endcomment %}
        <div class="offcanvas offcanvas-start offcanvas-map" tabindex="-1" id="creatingMapSidebar">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title">Создать точку</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body">
                <div class="mb-3">
                    <strong>Координаты:</strong>
                    <div class="mt-1">
                        <span class="badge bg-secondary" id="coordLat"></span>
                        <span class="badge bg-secondary" id="coordLng"></span>
                    </div>
                </div>

                <form id="pointForm">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Название точки</label>
                        <input type="text" class="form-control" id="pointName" required />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Описание</label>
                        <textarea class="form-control" id="pointDescription" rows="3"></textarea>
                    </div>
                </form>
                <button id="SaveButton" class="btn btn-primary w-100">Сохранить</button>
            </div>
        </div>

        {% comment %} created point sidebar {% endcomment %}
        <div class="offcanvas offcanvas-start offcanvas-map" tabindex="-1" id="mapSidebar">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title fs-3" id="pointName2"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body d-flex flex-column">
                <form id="pointForm2" class="flex-grow-1">
                    <div class="mb-3">
                        <!-- Ваше содержимое формы -->
                    </div>
                </form>
                <div class="p-3 bg-dark text-white flex-grow-1 d-flex flex-column gap-2" id="commentsConteiner">
                    
                </div>
                <form id="pointForm2">
                    <div class="mb-3">
                        
                    </div>
                </form>
            </div>
        </div>

        <script
            src="https://api-maps.yandex.ru/2.1/?apikey=f62206d2-d8fa-4d07-9243-1c6ae523ba7a&lang=ru_RU"
            type="text/javascript"
        ></script>
        <script type="text/javascript">



            ymaps.ready(initMyMap);

            let myMap;
            function initMyMap() {
                myMap = new ymaps.Map('map', {
                    center: [55.76, 37.64],
                    zoom: 15,
                    controls: ['zoomControl'],
                });

                loadAllMarkers();
                clickToMap();
            }

            let toiletCoords = [];
            let myPlacemark;
            let creatingMapSidebar;
            let mapSidebar;
            let myCoords;
            let currentloc;

            document.addEventListener('DOMContentLoaded', function() {
                creatingMapSidebar = new bootstrap.Offcanvas(document.getElementById('creatingMapSidebar'));
                mapSidebar = new bootstrap.Offcanvas(document.getElementById('mapSidebar'));
            });

            function initialPlacemarkClick(placemark) {
                placemark.events.add('click', async function(e) {
                    
                    const target = e.get('target');
                    myCoords = target.geometry.getCoordinates();

                    document.getElementById('pointName2').textContent = target.properties.get('hintContent');
                    
                    mapSidebar.show();

                    let comments = await getComments(target.properties.get('hintContent'));

                    let container = document.getElementById('commentsConteiner');
                    
                    let link;
                    for (let i = 0; i < comments.length; ++i) {
                        link = document.createElement('a');
                        //link.className = 'bg-light';
                        link.textContent = comments[i].text;
                        
                        container.appendChild(link);
                    }

                });
            }

            function loadAllMarkers() {
                {% for toilet in toilets %}
                    toiletCoords = [{{toilet.coords1|stringformat:'f' }} , {{toilet.coords2|stringformat:'f' }}];

                    myPlacemark = new ymaps.Placemark(toiletCoords , {hintContent: "{{ toilet.name }}"}, { preset: 'islands#redIcon', openHintOnHover: false });
                    initialPlacemarkClick(myPlacemark);
                    myMap.geoObjects.add(myPlacemark);

                {% endfor %}
            }

            function clickToMap() {
                myMap.events.add('click', function (e) {
                    currentloc = 0;
                    myCoords = e.get('coords');
                    
                    myPlacemark = new ymaps.Placemark([myCoords[0].toFixed(6), myCoords[1].toFixed(6)], {}, {preset: 'islands#redIcon', openHintOnHover: false});
                    initialPlacemarkClick(myPlacemark);
                    myMap.geoObjects.add(myPlacemark);
                    
                    document.getElementById('coordLat').textContent = myCoords[0].toFixed(6);
                    document.getElementById('coordLng').textContent = myCoords[1].toFixed(6);

                    creatingMapSidebar.show();
                });
            }
                                        
            document.getElementById('creatingMapSidebar').addEventListener('hide.bs.offcanvas', function () {
                if (currentloc == 0) {
                    myMap.geoObjects.remove(myPlacemark);
                    myPlacemark = null;
                }
                document.getElementById('pointName').value = '';
                document.getElementById('coordLat').textContent = '';
                document.getElementById('coordLng').textContent = '';
            });
            document.getElementById('mapSidebar').addEventListener('hide.bs.offcanvas', function () {

                document.getElementById('pointName2').textContent = '';
                let container = document.getElementById('commentsConteiner');
                container.innerHTML = '';
            });

            function getCsrfToken() {
                return document.querySelector('[name=csrfmiddlewaretoken]').value;
            }

            document.getElementById('SaveButton').addEventListener('click', function () {
                if (pointName.value != "") {
                    fetch('api/create-toilet/', {
                        method: 'POST',
                        headers: {'Content-Type': 'application/json', 'X-CSRFToken': getCsrfToken()},
                        body: JSON.stringify({name: pointName.value, coords1: myCoords[0].toFixed(6), coords2: myCoords[1].toFixed(6)})
                    });

                    myPlacemark.properties.set('hintContent', pointName.value);
                    currentloc = 1;
                }

                creatingMapSidebar.hide();
                document.getElementById('pointName').value = '';
                document.getElementById('coordLat').textContent = '';
                document.getElementById('coordLng').textContent = '';
            });

            async function getComments(currentToilet) {
                let params = new URLSearchParams({
                    'currentToilet': currentToilet,
                });

                let result0 = await fetch(`api/comments_api/?${params}`);
                let result1 = await result0.json();

                return result1;
            }





        </script>

        <script src="{% static 'deps/js/jquery/jquery-3.7.0.min.js' %}"></script>
        <script src="{% static 'deps/js/jquery-events.js' %}"></script>
        <script src="{% static 'deps/js/jquery-ajax.js' %}"></script>
        <script src="{% static 'deps/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>
